<% provide(:title, 'Sobre') %>
<%= render 'layouts/header' %>

<div class = "row tmln">
	<div class = "container" style="text-align:center;">
	<h1> Nossa História! </h1>
	</div>
	<div class='tmlncontainer'>
	  <div class='timeline'>
	    <div class='start'></div>
	  </div>
	  <div class ="container">
	  <div class='entries'>
	  <div class= 'span3'>
	    <div class='entry project'>
	      <div class='dot'></div>
	      <div class='label'>
	        <div class='time'>
	          <a href='#first'>Janeiro 2013</a>
	        </div>
	        <div class='detail'>
	          <a href='#first'>Primeiro cliente</a>
	        </div>
	      </div>
	    </div>
	   </div>
	   <div class= 'span3'>
	    <div class='entry project'>
	      <div class='dot'></div>
	      <div class='label'>
	        <div class='time'>
	          <a href='#second'>Maio 2013</a>
	        </div>
	        <div class='detail'>
	          <a href='#second'>Primeiro teste de campo</a>
	        </div>
	      </div>
	    </div>
	    </div>
	    <div class= 'span3'>
		    <div class='entry project'>
		      <div class='dot'></div>
		      <div class='label'>
		        <div class='time'>
		          <a href='#third'>Setembro 2013</a>
		        </div>
		        <div class='detail'>
		          <a href='#third'>Segundo teste de campo</a>
		        </div>
		      </div>
		    </div>
	    </div>
	    <div class= 'span3'>
	    <div class='entry project'>
	      <div class='dot'></div>
	      <div class='label'>
	        <div class='time'>
	          <a href='#fourth'></a>
	        </div>
	        <div class='detail'>
	          <a href='#fourth'>Estágio atual</a>
	        </div>
	      </div>
	    </div>
	   </div>
	  </div>
	  </div>
	</div>
</div>
<div class = "contentr dark">
	<a name="first"> </a>
	<br />
	<div class = "container content">
		<div class = "span6">
		<h1>Primeiro Cliente</h1><br/>
			<p>
				A TresM empreendimentos foi a primeira empresa a acreditar no monitoramento remoto como forma de alavancar a produção e em janeiro de 2013 adiquiriu o AquaUno, primeiro protótipo da Vivarium.
			</p><br/>
		</div>
		<div class = "span5 pull-right">
			<img class = "img-circle" src = "assets/3m.jpg">
		</div>
	</div>
</div>
<div class= "contentr">
	<a name="second"> </a>
	<br />
	<div class = "container content">
		<div class = "span5">
			<img class = "img-circle" src = "assets/Teste1.JPG">
		</div>
		<div class = "span6 pull-right">
		<h1>Primeiro Teste de campo</h1><br/>
			<p>
				O primeiro teste em campo do foi a prova do conceito. Testamos o funcionamento
				do sistema de comunicação e as medidas de PH, temperatura e
				pressão parcial de oxigênio. A estrutura mecânica ainda era 
				simples e pouco robusta, mas as medições foram um sucesso bem
				como o sistema de comunicação.
			</p><br/>
		</div>
	</div>
</div>
<div class = "contentr dark">
	<a name="third"> </a>
	<br />
	<div class = "container content">
		<div class = "span6">
		<h1>Segundo Teste de campo</h1><br/>
			<p>
				No segundo teste, o AquaUno já contava com uma estrutura mecânica mais robusta, resistente a remadas acidentais durante a instalação ou calibração. Foram incorporadas as medidas de condutividade, salinidade e oxigênio em mg/L.
			</p><br/>
		</div>
		<div class = "span5 pull-right">
			<img class = "img-circle" src = "assets/Teste2.jpg">
		</div>
	</div>
</div>
<div class= "contentr">
	<a name="fourth"> </a>
	<br />
	<div class = "container content">
		<div class = "span5">
			<img class = "img-circle" src = "assets/Teste1.JPG">
		</div>
		<div class = "span6 pull-right">
		<h1>Estágio Atual</h1><br/>
			<p>
				A Vivarium agora trabalha para tornar o AquaUno ainda mais preciso e resistente a corrosão em função da maresia típica das regiões produtoras de camarão.
			</p><br/>
		</div>
	</div>
</div>
</div>