<% provide(:title, 'Sobre') %>
<%= render 'layouts/header' %>
<!--
<header class="sub-header">
	<div class="container">
		<ul class= "nav pull-right nav-table">
			<li class="nav-title">Sobre</li>
			<li><%=link_to "Nossa Motivação", '#' %> </li>
			<li><%=link_to "Nossos Sonhos", '#' %> </li>
			<li><%=link_to "Quem somos", '#' %> </li>
		</ul>
		<h1> Conheça mais a nossa empresa</h1>
	</div>
</header>
-->
<div class = "row tmln">
	<div class = "container" style="text-align:center;">
	<h1> Nossa História! </h1>
	</div>
	<div class='tmlncontainer'>
	  <div class='timeline'>
	    <div class='start'></div>
	  </div>
	  <div class ="container">
	  <div class='entries'>
	  <div class= 'span4'>
	    <div class='entry project'>
	      <div class='dot'></div>
	      <div class='label'>
	        <div class='time'>
	          June 2011
	        </div>
	        <div class='detail'>
	          Primeiro Cliente
	        </div>
	      </div>
	    </div>
	   </div>
	   <div class= 'span4'>
	    <div class='entry project'>
	      <div class='dot'></div>
	      <div class='label'>
	        <div class='time'>
	          November 2005
	        </div>
	        <div class='detail'>
	          Primeiro teste de campo
	        </div>
	      </div>
	    </div>
	    </div>
	    <div class= 'span4'>
		    <div class='entry project'>
		      <div class='dot'></div>
		      <div class='label'>
		        <div class='time'>
		          July 1993
		        </div>
		        <div class='detail'>
		          Segundo Teste de campo
		        </div>
		      </div>
		    </div>
	    </div>
	  </div>
	  </div>
	</div>
</div>
<div class = "contentr dark">
	<div class = "container content">
		<div class = "span7">
		<h1> Primeiro Cliente </h1><br/>
			<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
					Suspendisse ac odio et mi eleifend commodo et eget nisi.<br/> 
					Sed eu nunc at leo hendrerit tempor. Fusce enim est,<br/>
					vulputate et justo facilisis, ornare malesuada mauris. 
			</p><br/>
		</div>
		<div class = "span4 pull-right">
			<img class = "img-circle" src = "assets/400x300.jpg">
		</div>
	</div>
</div>
<div class= "contentr">
	<div class = "container content">
		<div class = "span4">
			<img class = "img-circle" src = "assets/400x300.jpg">
		</div>
		<div class = "span7 pull-right">
		<h1> Primeiro Teste de campo </h1><br/>
			<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
					Suspendisse ac odio et mi eleifend commodo et eget nisi.<br/> 
					Sed eu nunc at leo hendrerit tempor. Fusce enim est,<br/>
					vulputate et justo facilisis, ornare malesuada mauris. 
			</p><br/>
		</div>
	</div>
</div>
<div class = "contentr dark">
	<div class = "container content">
		<div class = "span7">
		<h1> Segundo Teste de campo </h1><br/>
			<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
					Suspendisse ac odio et mi eleifend commodo et eget nisi.<br/> 
					Sed eu nunc at leo hendrerit tempor. Fusce enim est,<br/>
					vulputate et justo facilisis, ornare malesuada mauris. 
			</p><br/>
		</div>
		<div class = "span4 pull-right">
			<img class = "img-circle" src = "assets/400x300.jpg">
		</div>
	</div>
</div>
</div>