<% provide(:title, 'Sobre') %>
<%= render 'layouts/header' %>
<header class="sub-header">
	<div class="container">
		<ul class= "nav pull-right nav-table">
			<li class="nav-title">Sobre</li>
			<li><%=link_to "Nossa Motivação", '#' %> </li>
			<li><%=link_to "Nossos Sonhos", '#' %> </li>
			<li><%=link_to "Quem somos", '#' %> </li>
		</ul>
		<h1> Conheça mais a nossa empresa</h1>
	</div>
</header>
<div class = "about-motiv">
	<div class ="container">
		<div class="row" id="motivation">
			<div class="span4">
				<h1>Nossa Motivação </h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis leo eu scelerisque congue. Phasellus risus risus, eleifend quis neque vulputate, sagittis adipiscing ante. Etiam aliquam, dolor in viverra pulvinar, diam risus suscipit nibh, ut condimentum neque lectus sed arcu.</p>
			</div>
		</div>
	</div>
</div>
<div class = "about-motiv">
	<div class ="container">
		<div class="row" id="dreams">
			<div class="span4 pull-right">
				<h1>Nossa Motivação </h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis leo eu scelerisque congue. Phasellus risus risus, eleifend quis neque vulputate, sagittis adipiscing ante. Etiam aliquam, dolor in viverra pulvinar, diam risus suscipit nibh, ut condimentum neque lectus sed arcu.</p>
			</div>
		</div>
	</div>
</div>

