@import "bootstrap";


/* Universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Header */

.navbar {
	background-color: rgb(107, 198, 46);
	background-image: none;
	.navbar-inner {
		background-image: -webkit-linear-gradient(top, #0B862C, #18A83F);
		background-image: -moz-linear-gradient(top, #0B862C, #18A83F);
		background-image: linear-gradient(top, #0B862C, #18A83F);
		border-radius: 2px;
		border-color: #3e3d3e;
	}
	.nav {
		font-size: 18px;
		padding:5px;
		li {
			a {
				color:#fff;
			}
			&:hover{
				background: rgba(0, 0, 0,.45);
				border-radius: 5px;
			}
		}

	}
}

#header-logo {
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;
  &:hover{
  	text-decoration:none;
  }
}

/* Product */
#spacer{
	margin-top:40px;
}
#steps {
	margin-top:10px;
	text-align: center;
	padding-bottom: 20px;
	.highlight{
		color:#6bc62e;
		font-weight: bold;
	}
	h1 {
		font-size: 25px;
		line-height: 1;
	}
	p {
		font-size: 16px;
		line-height: 1;
		text-align: center;
		color: #5C5C5C;
	}
	.span4{
		float:left;
		position: relative;
		vertical-align: middle;
		h1 {
		font-size: 16px;
		}
	}
}

.feature-shadow {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.feature{
	padding:30px 0px 30px;
	h1 {
		font-size: 50px;
		.muted{
			font-size: 35px;
		}
	}
	a {
		color: #0B862C;
		text-decoration: none;
	}
	p {
		font-size: 20px;
	}

	.feature-text{
		
	}
	.image{
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 5px #888;
	}
}

/* Home Only */
#home-header{
	background-image: image-url("grey_wash_wall.png");
	box-shadow: 0 0 20px #888;
}

#logo{
	display: block;
	margin-left:auto;
	
}

#nav-table{
	position: relative;
	top: 35px;
	
	a {
		color: #fff;
		font-size: 25px;
	}
	.active {
		a {
			background-color: rgba(107, 198, 46,.65);
			border-radius: 5px;
		}
	}
	li{
		&:hover{
			background: #6bc62e;
			border-radius: 5px;
		}		
	}	
}


#home-jumbo {
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	padding-top:60px;
	padding-bottom: 70px;
	line-height: 1;
	h1{
		font-size: 50px;
		font-weight: bold;
		letter-spacing: -2px;
		color: #6bc62e;
	}
	p {
		font-size: 25px;
	}
	.btn-primary{
		border: 2px solid rgba(0, 0, 0,.30);
		font-size: 20px;
		background: rgba(107, 198, 46,.60);
		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

/* About */

.sub-header{
	margin-top: 50px;
	background-image: asset-url("grey_wash_wall.png", image);
	h1 {
			text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
			margin-top: 65px;
			font-size: 50px;
			letter-spacing: -1px;
			color: #fff;
			line-height: 1;
			text-align: left;
	}
	.nav-table{
		.nav-title{
			text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
			font-size: 20px;
			color: #fff;
			line-height: 2;
		}
		font-size: 17px;
		margin-top:30px;
		padding: 20px 10px 20px 30px;
		border-left: 2px solid rgba(0, 0, 0,.1);
		a {
			color: rgba(107, 198, 46,1);
			&:hover{
				border-radius:5px;
			}
		}
	}
}
$bg: #fcfcfc;

$timeline-bg: beige;//#e7eff1;
$timeline-height: 0.7rem;
$timeline-border: #fff;
$timeline-shadow: 0 0 2rem 0 rgba(#000,0.1), inset 0 0 0.4em rgba(#000,0.1);
$timeline-border-width: 0.2rem;

$dot-bg: powderblue;
$dot-hover-bg: thistle;
$dot-size: 1.2rem;
$dot-hover-size: 1.6rem;
$dot-border: #fff;
$dot-shadow: 0 0.1rem 1rem 0 rgba(#000,0.1), inset 0 0 0.4em rgba(#fff,0.1), inset 0 0.4rem 0.1rem rgba(#fff,0.3);
$dot-border-width: 0.16rem;

$notch-size: 1rem;

$label-bg: #E1F0EE;
$label-hover-bg: darken($label-bg,5);
$label-padding: 0.4rem;
$label-divider: 1px solid rgba(#fff,0.8);

$scroll-thumb: transparent;//#f1f5f7;

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  background-color: $bg;
  color: #000;
}

.tmln {
	margin-top: 50px;
	padding:30px;
	h1 {
		font-size: 100px;
	}
}


.tmlncontainer {
  text-align: center;
  width: 100%;
  position: relative;
  /*overflow-x: scroll;*/
  padding-top: 4rem;
  
	&::-webkit-scrollbar {
	  height: 45px;
	}
	&::-webkit-scrollbar-thumb {
	  background-color: $scroll-thumb;
    background-clip: content-box;
    border-radius: 100%;
    border: 20px solid transparent;
	}

    
}
.entries {
  margin-right: -10000px;
  margin-left: 1rem;
  .span4{
  		vertical-align: middle;
  }
}

.timeline {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: $timeline-height;
  background-color: $timeline-bg;
  background-clip: content-box;
  border-width: $timeline-border-width 0;
  border-style: solid;
  border-color: $timeline-border;
  box-shadow: $timeline-shadow;
}
.entry {
  max-width: 170px;
  position: relative;
  text-align: center;
  margin: 0 1rem;
  margin-top: $timeline-height;
  .dot {
    position: absolute;
    width: $dot-size;
    height: $dot-size;
    background-color: $dot-bg;
    left: 50%;
    margin-left: -1/2*$dot-size;
    margin-top: -(1/2)*$dot-size+(-1/2)*$timeline-height;
    border-radius: 100%;
    box-sizing: border-box;
    background-clip: content-box;
    border-width: $dot-border-width;
    border-style: solid;
    border-color: $dot-border;
    box-shadow: $dot-shadow;
    transition:(height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out);
  }
}


.entry:hover {
  .dot {
    width: $dot-hover-size;
    height: $dot-hover-size;
    margin-left: -1/2*$dot-hover-size;
    margin-top: -(1/2)*$dot-hover-size+(-1/2)*$timeline-height;
    background-color: $dot-hover-bg;
  }
  .label {
    margin-top: 2.5rem;
    background-color: $label-hover-bg;
    border-bottom: 0.5rem solid transparent;
  }
}

.label {
	color:#000;
  display: inline-block;
  position: relative;
  background-color: $label-bg;
  background-clip: padding-box;
  margin-top: 3rem;
  padding: $label-padding 0.8rem 0.8rem;
  border-radius: 0.2rem;
  transition:(margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear);
  border-bottom: 0 solid transparent;
  .time {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 0 0 0.4rem;
    padding: 0 0.3rem 0.3rem;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: $label-divider;
  }
  .detail {
    font-size: 0.8rem;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    background-clip: content-box;
    box-sizing: border-box;
    width: $notch-size;
    height: $notch-size;
    left: 50%;
    margin-top: -$label-padding+-1/2*$notch-size;
    margin-left: -1/2*$notch-size;
    transform-origin: center;
    transform:(rotate(45deg));
    z-index: -1;
  }
  a {
    color: #000;
    text-decoration: none;
    &:before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }
}


.entry.life .label {
  background-color: adjust-hue($label-bg,-40);
}
.entry.life:hover .label {
  background-color: darken(adjust-hue($label-bg,-40),5);
}
.entry.study .label {
  background-color: adjust-hue($label-bg,40);
}
.entry.study:hover .label {
  background-color: darken(adjust-hue($label-bg,40),5);
}

.contentr{
	box-shadow: 0 0 5px #888;
}

.content{
	padding: 30px 30px;
}
.dark {	
	background-image: image-url("subtle_grunge.png");
}

.content{
	h1{
		font-size:50px;
	}
	p {
		font-size: 20px;
	}
	img {
		box-shadow: 0 0 20px #888;
	}
}


/* footer */

footer{
	background-color: #3e3d3e;
	border-top: 2px solid #6bc62e;
	padding:10px;
	.span3{
		border-right: 2px solid rgba(0, 0, 0,.1);
		h3{ color: #fff;}
		a {
			color: rgba(107, 198, 46,1);
		}
	}
	.span6{
		line-height: 1;
		h1 {
			text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
			font-size: 50px;
			letter-spacing: -1px;
			color: #fff;
		}
		h2 {
			letter-spacing: -1px;
			font-size: 27px;
			color: #fff;
		}
	}
}