<div class="container">
	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="navbar-inner">
    		<div class="container">
      			<nav>
      				<%= link_to "Vivarium", root_path, id: "header-logo" %>
      			</nav>
	        	<nav>
	        		<ul class="nav pull-right">
	          			<li><%= link_to "Produto",    produto_path %></li>
	          			<li><%= link_to "Sobre",    sobre_path %></li>
	          			<li><%= link_to "Contato", '#' %></li>
	        		</ul>
	        	</nav>
    		</div>
  		</div>
	</header>
</div>